<div class = "wrapper">

    <div class = "block-row">
        <div class = "flag">in theme {{ row }}</div>
        <div class = "currency">{{ row }}</div>
        <div class = "buy">{{ row }}</div>
        <div class = "sell">{{ row }}</div>
    </div>

</div>
